html, body {
    background: #ddd;
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, Sans;
}

#home {
    margin: 100px auto;
    text-align: center;
}

h1 {
    background: #111;
    margin: 0;
    color: gold;
    padding: 7px 14px;
    font-size: 14px;
    font-weight: normal;
}

h1 a {
    position: absolute;
    right: 1em;
    color: lightblue;
}

.thread {
    position: fixed;
    top: 50px;
    left: 14px;
    right: 14px;
    bottom: 100px;
    background: white;
    border-bottom: 3px solid #666;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    border-bottom: 1px solid #efefef;
    position: relative;
}

.message h2 {
    background: #efefef;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    text-align: right;
    border-right: 1px solid #ccc;
}

.message p {
    font-size: 12px;
    padding: 5px;
    margin: 0 0 0 110px;
}

.message.mine * {
    background: #FFFFCC;
}

.message.notice * {
    background: #D9E7FB;
}

.message.important * {
    background: #c00;
    color: #fff;
}

.message.notice h2 {
    visibility: hidden;
}

.message.notice p {
    margin: 0;
    padding-left: 115px;
}

footer {
    position: fixed;
    left: 14px;
    right: 14px;
    bottom: 30px;
    height: 60px;
}
.date {
    color: grey;
}
footer #message {
    width: 70%;
    /* padding: 5px; */
}

.page-link {
    background: lightGrey;
    border:1px grey;
    padding:4px;
    color: royalBlue;
}
.page-link:hover {
    color: blue;
}
.page-link:active {
    color: red;
}
.message h2.user {
    text-decoration: underline;
}
.user {
    text-decoration: underline;
}
.message h2.mod {
    color:green;
}
.message h2.mention {
    color:red;
}
.mod {
    color:green;
}
.mine {
    color:royalBlue!important;
}

noscript, .nocookie {
    background: #b44;
    color:white;
    border:1px solid black;
    padding:4px;
}