/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  text-align: center;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.stats .users {
  display: inline;
}

.stats, .stats .users {
  list-style: none;
  margin:0;
  padding:0;
  font-size: 0%;
}
.stats > li, .stats .users > li {
  display: inline;
  padding: 0;
  margin: 0;
}
.stats > li > span, .stats .users > li > span {
  font-size: initial;
}
.stats > li + li:before {
  content: ". ";
  font-size: initial;
}

.stats .users > li + li:before {
  content: ", ";
  font-size: initial;
}
