<!DOCTYPE html>

<html>
  <head>
    <title>Chat room</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/public/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/javascripts/jquery-1.5.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/templating.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/autolinker.min.js" type="text/javascript" charset="utf-8"></script>
    
  </head>
  <body>

<script type="text/template" id="message_tmpl">

	<% var logged = event.L; %>
	<% var mod = event.A ? 'nickname-moderator' : ''; %>
	<% var you = event.N == Nickname && event.L ? 'you' : ''; %>
	<% var to_you = event.M.indexOf(Nickname) !== -1 && Nickname.length ? 'to-you' : ''; %>
	<% var name = event.N == '' ? 'Аноним' : event.N; %>
	
	<div class="message">
		<h2 class="nickname <%=logged%> <%=mod%> <%=you%> <%=to_you%>"><%=name%></h2>
		<p>
			<i style="color:gray"><%= (new Date(event.T*1000)).toLocaleString() %></i>
			<%= event.M %>
		</p>
	</div>
</script>

<script type="text/template" id="online_tmpl">

	<% var you = event.N == Nickname && event.L ? 'you' : ''; %>
	<% var to_you = event.M.indexOf(Nickname) !== -1 && Nickname.length ? 'to-you' : ''; %>
	
	<span class="nickname nickname-logged-in <%=you%> <%=to_you%>">
		<%= event.N %>
	</span>
</script>

<script type="text/html" id="online_tmpl_guests">
	<span>Guests: <%= event %></span>
</script>

<div id="thread">
</div>

<div style="text-align:center">
	<span id="prev-page">N/A</a></span> |
	<span id="next-page">N/A</a></span>
</div>

<div id="newMessage">
	<noscript>Hey, this shit won't work without javascript. Bring it on or get the fuck out.</noscript>
	<div class="nocookie" style="display: none">Don't fuck with me and enable cookies.</div>

	<div>Online: <span id="online"></span> RSS <span id="memory-rss"></span></div>
	<input type="text" id="name">
	<input type="text" id="message" autocomplete="off" autofocus maxlength="140">
	<input type="submit" value="send" id="send">
	<div id="login-form">
	<input type="text" id="loginname" name="name" type="text">
	<input type="password" id="password" name="password" >
	<input type="submit" value="login" id="login" name="login">
	<input type="submit" value="register" id="register" name="register">
	</div>
	<div id="logout-form">
	<a href="javascript:void(0)" onclick="logout()">logout</a> 
	</div>
</div>

<script type="text/javascript" src="/public/javascripts/app.js"></script>


  </body>
</html>
